# This file has the following format:
#
# <file> := <line>*
# <line> := <prod> <quantity> <expiration> <sa_date> <newline>
#         | <prod> <edition> <quantity> <expiration> <sa_date> <newline>
#         | <comment> <newline>
# <prod> := "XD" | "XS"
# <edition> := "STD" | "ADV" | "ENT" | "PLT"
# <quantity> := <positive integer>
# <expiration> := <float> (unix timestamp)
# <sa_date> := <float> (unix timestamp)
# <newline> := "\n"
# <comment> := <whitespace>* "#" <any string>

# Example licenses:
#XD 5 2030.0101 2014.0220
#XS STD 5 2030.0101 2014.0220
#XS STD 5 2014.0220 2014.0220
#XS ADV 5 2014.0220 2014.0220
